body {
    margin-left: 50px;
    margin-right: 50px;
}

header {
    background-color: gray;
    text-align: center;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #999;
    padding: .5rem;
    text-align: left;
}

span {
    text-align: right;
}